h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-series;
    font-size: 30px;
    color: teal;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-series;
    font-size: 20px;
    color: teal;
    text-align: center;
}

hr {
    border-style: solid;
    border-width: 5px;
    color: teal;
    margin: 0%;
}

.homelink {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: white;
}

.homelink:hover, .homelink:focus, .homelink:active {
    color: teal;
}

.brandbox {
    background-color: teal;   
    position: relative;
    left: 20px;
}

.container-fluid {
    position: relative;
    left: 30px;
}

.smallimages {
    width: 42%;
    height: 42%;
}

.mediumimages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.largeimage {
    width: 60%;
    height: 60%;
    float: left;
}
.nav {
    margin: 0%;
}

.navbar-default {
    margin: 0%;
}

.panel-footer {
    background: grey;
    color: white;
    font-size: 75%;
    text-align: center;
}

.highlight {
    border-style: solid;
    border-width: 2px;
    color: teal;
    margin: 0%; 
}

@media(max-width: 480px) {
    .glyphicon-adjust {
        display: none;
    }
}

@media(max-width: 720px) {
    .smallimages {
        width: 20%;
        height: 20%;
    }
}

@media(max-width: 720px) {
    .largeimage {
        width: 45%;
        height: 45%;
    }
}

